.footer{
	background-color: #05386b;
	color: #edf5e1;
	height: 150px;
}

li{
	list-style: none;
	padding-bottom: 20px;
}

.footer-logo{
	float: left;
	font-family: sans-serif;
	font-size: 25px;
	padding: 20px 0px 0px 60px;
}

.paragraf-logo1{
	font-size: 13px;
	margin: 0px;
}

.paragraf-logo2{
	font-size: 9px;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}

img{
	width: 130px;
	height: 33px;
	margin: 0px;
	padding: 7px 0px 0px 0px;
}

.footer-list{
	float: right;
	font-family: sans-serif;
	padding: 10px 100px 0px 0px;
}

a{
	text-decoration: none;
	color: #edf5e1;
}





